.DS_Store
.idea/
.vscode/

bin/
dist/
coverage/
tmp/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.coverprofile

documents/node_modules/
documents/docs/.vitepress/cache/
documents/docs/.vitepress/dist/

